body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(45deg, #e73a06, #ea1394, #3667cf, #23d541);
  background-size: 400% 400%;
  animation: gradient 20s ease-in infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 50px;
  padding-top: 90px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.cookie-img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  animation: rotateCookie 30s linear infinite;
  transition: transform 0.2s;
  z-index: 1000;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cookie-img.shrink {
  transform: scale(0.5);
}

@keyframes rotateCookie {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cursor-ring-container {
  position: absolute;
  top: -31px;
  left: 34px;
  z-index: 1;
}

#cursor-ring {
  position: relative;
  z-index: 1;
  top: 53px;
  left: 6px;
}

#super-cursor-ring {
  position: relative;
  z-index: 1;
  top: 3px;
  left: -44px;
}

#hyper-cursor-ring {
  position: relative;
  z-index: 1;
  top: -96px;
  left: -144px;
}

.cursor {
  position: absolute;
  width: 20px; /* Ajusta el tamaño del cursor según tus necesidades */
  height: 20px;
  background: url("./assets/cursor.png") no-repeat center center;
  background-size: contain;
  transform-origin: center bottom;
}

.super-cursor {
  position: absolute;
  width: 20px; /* Ajusta el tamaño del cursor según tus necesidades */
  height: 20px;
  background: url("./assets/super-cursor.png") no-repeat center center;
  background-size: contain;
  transform-origin: center bottom;
}

.hyper-cursor {
  position: absolute;
  width: 20px; /* Ajusta el tamaño del cursor según tus necesidades */
  height: 20px;
  background: url("./assets/hyper-cursor.png") no-repeat center center;
  background-size: contain;
  transform-origin: center bottom;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  margin-left: 25px;
}

.upgrades-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: white;
  margin-bottom: 25px;
}

.button-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 250px;
  background-color: white;
}

.button-column button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

/* Colores de los botones */
.button-column button:nth-child(1) {
  background-color: green;
  width: 100%;
}

.button-column button:nth-child(2) {
  background-color: red;
  width: 100%;
}

.button-column button:nth-child(3) {
  background-color: blue;
  width: 100%;
}

.button-column button:nth-child(4) {
  background-color: purple;
}

.button-column button:nth-child(5) {
  background-color: orange;
}
